<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
		<title>FB Canvas APP</title>
 	    <meta property="og:title" content="FB Canvas APP">
	    <meta property="og:type" content="game">
        <meta property="og:image" content="http://www.babbel.com/images/lpb-babbel-logo-small.gif">
        <meta property="og:site_name" content="Babbel.com">
	    <meta property="fb:app_id" content="<%= @fb_app_id %>">
	
	    <script type="text/javascript">
          top.location.href = "<%= @the_url%>"
        </script>
	</head>
	<body>
	</body>
	
</html>